body {
  margin: 0;
}

#body-container {
  display: flex;
}
#image-side {
  background-image: url(images/elia-pellegrini-_GMsPDNG8nA-unsplash.jpg);
  background-size: 100vh;
  height: 100vh;
  max-width: 40vw;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30vh;
  background-color: black;
  opacity: 70%;
  height: 100px;
  width: 40vw;
}
@font-face {
  font-family: odinFont;
  src: url(./fonts/Norse-Bold.otf);
}

.logo-text {
  padding-left: 30px;
  font-size: 90px;
  color: white;
  font-family: odinFont;
}
#photo-credit {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 40vw;
  color: white;
  font-size: 20px;
}
.photo-credit-text {
  color: white;
}
#form-side {
  display: flex;
  flex-direction: column;
  background-color: lightgray;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
#top-form-side {
  display: flex;
  flex-direction: column;
  height: 30vh;
  width: 40vw;
  padding: 50px;
  font-size: 20px;
  font-weight: bold;
}
.top-text {
  margin-top: auto;
}

#middle-form-side {
  height: 30vh;
  width: 60vw;
  background-color: white;
  box-shadow: 5px 10px 8px #888888;
  padding: 30px;
}

#bottom-form-side {
  padding: 50px;
}

#create-account-btn {
  height: 40px;
  width: 190px;
  border-radius: 10px;
  background-color: #596d48;
  color: white;
  font-weight: bold;
}
#form-container {
  width: 40vw;
  display: flex;
  font-size: 13px;
}
#left-form {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 47%;
}

#right-form {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 47%;
  padding-left: 35px;
}

label,
input {
  display: block;
  height: 35px;
  width: 100%;
}

input {
  border: 1px solid #e5e7eb;
  border-radius: 3px;
}

label {
  margin-bottom: 40px;
}
input:focus {
  outline: none;
  border: 1px solid #0000ff;
  box-shadow: 5px 10px 8px #888888;
}
.sign-in-text {
  color: #596d48;
}

#password-container {
  position: responsive;
}
.p-viewer {
  float: right;
  margin-top: -26px;
  position: relative;
  z-index: 1;
  cursor: pointer;
}
